<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjz.dao.RentDistrictMapper">
  <resultMap id="BaseResultMap" type="com.sjz.entity.RentDistrict">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="city_code" jdbcType="BIGINT" property="cityCode" />
    <result column="district_name" jdbcType="VARCHAR" property="districtName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="del" jdbcType="INTEGER" property="del" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="updater_id" jdbcType="VARCHAR" property="updaterId" />
    <result column="updater_name" jdbcType="VARCHAR" property="updaterName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, city_code, district_name, sort, del, create_time, update_time, creator_id, creator_name, 
    updater_id, updater_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rent_district
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from rent_district
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sjz.entity.RentDistrict">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rent_district (city_code, district_name, sort, 
      del, create_time, update_time, 
      creator_id, creator_name, updater_id, 
      updater_name)
    values (#{cityCode,jdbcType=BIGINT}, #{districtName,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{del,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, #{updaterId,jdbcType=VARCHAR}, 
      #{updaterName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sjz.entity.RentDistrict">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rent_district
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="districtName != null">
        district_name,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="creatorName != null">
        creator_name,
      </if>
      <if test="updaterId != null">
        updater_id,
      </if>
      <if test="updaterName != null">
        updater_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityCode != null">
        #{cityCode,jdbcType=BIGINT},
      </if>
      <if test="districtName != null">
        #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        #{del,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=VARCHAR},
      </if>
      <if test="updaterName != null">
        #{updaterName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sjz.entity.RentDistrict">
    update rent_district
    <set>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=BIGINT},
      </if>
      <if test="districtName != null">
        district_name = #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="updaterId != null">
        updater_id = #{updaterId,jdbcType=VARCHAR},
      </if>
      <if test="updaterName != null">
        updater_name = #{updaterName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sjz.entity.RentDistrict">
    update rent_district
    set city_code = #{cityCode,jdbcType=BIGINT},
      district_name = #{districtName,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del = #{del,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      updater_id = #{updaterId,jdbcType=VARCHAR},
      updater_name = #{updaterName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <cache />



  <!-- mybatis-generator:generate end -->
  <!-- extended definition begin -->

  <sql id="Base_Where_Clause">
    <where>
      1=1
      <if test="search.del != null">
        and del = #{search.del,jdbcType=INTEGER}
      </if>
      <if test="search.cityCode != null">
        and city_code = #{search.cityCode,jdbcType=BIGINT}
      </if>
      <if test="search.ids != null and search.ids.size() > 0">
        and id in
        <foreach item="item" index="index" collection="search.ids" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
  </sql>

  <select id="selectByParams" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM rent_district
    <include refid="Base_Where_Clause"/>
  </select>


</mapper>